<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Buddy</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'travelBuddy/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
   <link href="https://fonts.googleapis.com/css?family=Eczar|Gentium+Basic" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/travels">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/add">Add Travel Plan</a></li>
          </ul>
          {% if request.session.user.fname %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Log Out</a></li>
          </ul>
          {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <main class="container">
      <h1>Hello, {{ request.session.user.fname }}!</h1>
      <div class="row">
        <!-- Display logged in user's trips -->
        <section class="col-md-12">
          <h2>Your Scheduled Trips</h2>
          {% if not user_trips %}
            <p>Sad story!  You don't have any trips scheduled.</p>
          {% endif %}
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{message}}</p>
            {% endfor %}
          </div>
          {% endif %}
          {% if user_trips %}
          <table class="table table-striped">
            <tr>
              <th>Destination</th>
              <th>Departure Date</th>
              <th>Return Date</th>
              <th>Description of Plan</th>
            </tr>
            {% for trip in user_trips %}
            <tr>
              <td><a href="/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
              <td>{{ trip.depart_date|date:"M d, Y" }}</td>
              <td>{{ trip.return_date|date:"M d, Y" }}</td>
              <td>{{ trip.description }}</td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </section>
        <!-- Display all other trips -->
        <section class="col-md-12">
          <h2>Other Users' Trips</h2>
          {% if other_trips %}
          <table class="table table-striped">
            <tr>
              <th>Trip Planner</th>
              <th>Destination</th>
              <th>Departure Date</th>
              <th>Return Date</th>
              <th>Description of Plan</th>
              <th>Do you want to join?</th>
            </tr>
            {% for trip in other_trips %}
            <tr>
              <td>{{ trip.planned_by.fname }} {{ trip.planned_by.lname }}</td>
              <td><a href="/destination/{{ trip.id }}">{{ trip.destination }}</a></td>
              <td>{{ trip.depart_date|date:"M d, Y" }}</td>
              <td>{{ trip.return_date|date:"M d, Y" }}</td>
              <td>{{ trip.description }}</td>
              <td> <a href="/join_trip/{{ trip.id }}">Join</a></td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </section>
      </div>
    </main>
  </body>
</html>
